<div class="container-fluid">
    <h1 style="text-align: center;">Patient Reciept</h1>
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-3 col-md-3" >
            <p>Token ID</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>KMH-KNL-GN-OPN-{{product.token}}</p>
        </div>
        <div class="col-sm-3 col-md-3" >
            <p>Name</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3" >
            <p>Date & Time</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.dateTime}}</p>
        </div>
        <div class="col-sm-3 col-md-3" >
            <p>Phone</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.phone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3" >
            <p>Gender</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.gender}}</p>
        </div>
        <div class="col-sm-3 col-md-3" >
            <p>Age</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.dob}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3" >
            <p>Address</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.address}}</p>
        </div>
        <div class="col-sm-3 col-md-3" >
            <p>City</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.city}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3" >
            <p>State</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.state}}</p>
        </div>
        <div class="col-sm-3 col-md-3" >
            <p>Postal Code</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.pCode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3" >
            <p>Payment</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>Cash</p>
        </div>
        <div class="col-sm-3 col-md-3" >
            <p>Amount</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>Rs. {{product.amount}}</p>
        </div>
    </div>
</div>