<header>
    <app-header></app-header>
</header>

<section>
    <nav>
        <app-layout></app-layout>
    </nav>
    <article>
        <div class="card card-layout">
            <div class="card-body card-bg">
                <h2 class="card-titlev center">Nurse Database</h2>
                <p-table #dt2 [value]="products" dataKey="nurseId" [rows]="4" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[4,8,10]" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['name','product.name']">
                    <ng-template pTemplate="caption">
                        <div class="p-grid p-fluid">
                            <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Search by name" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem"></th>
                            <th>Nurse ID
                            </th>
                            <th>Name
                            </th>
                            <th>Designation
                            </th>
                            <th>Phone
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-expanded="expanded">
                        <tr>
                            <td>
                                <button type="button" pButton pRipple [pRowToggler]="product"
                                    class="p-button-text p-button-rounded p-button-plain"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>
                            <td>{{product.nurseId}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.designation}}</td>
                            <td>{{product.phone}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-product>
                        <tr class="expand-font-size">
                            <th style="width: 3rem"></th>
                            <td>Nurse ID: </td>
                            <td class="bold">{{product.nurseId}}</td>
                            <td>Name: </td>
                            <td class="bold">{{product.name}}</td>
                        </tr>
                        <tr class="expand-font-size">
                            <th style="width: 3rem"></th>
                            <td>DOB: </td>
                            <td class="bold">{{product.age}}</td>
                            <td>Gender: </td>
                            <td class="bold">{{product.gender}}</td>
                        </tr>
                        <tr class="expand-font-size">
                            <th style="width: 3rem"></th>
                            <td>Degree:</td>
                            <td class="bold">{{product.degree}}</td>
                            <td>Address:</td>
                            <td class="bold">{{product.address}}</td>
                        </tr>
                        <tr class="expand-font-size">
                            <th style="width: 3rem"></th>
                            <td>Designation:</td>
                            <td class="bold">{{product.designation}}</td>
                            <td>Phone:</td>
                            <td class="bold">{{product.phone}}</td>
                        </tr>
                        <tr class="expand-font-size">
                            <th style="width: 3rem"></th>
                            <td>Status:</td>
                            <td class="bold">{{product.status}}</td>
                            <td></td>
                            <td class="bold"></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No data found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </article>
</section>