<header>
    <app-header></app-header>
</header>

<section>
    <nav>
        <app-layout></app-layout>
    </nav>

    <article>
        <div class="card card-layout">
            <div class="card-body card-bg">
                <h2 class="card-titlev center">Add New Staff</h2>
                <form [formGroup]="addStaffForm" autocomplete="off">
                    <div class="container fluid">
                        <div class="row">
                            <div class="col-md-2">
                                Staff ID
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="staffId" class="form-control"
                                        aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                            <div class="col-md-2">
                                Name
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="name" class="form-control"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                DOB
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="date" formControlName="age" class="form-control"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-2">
                                Degree
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="degree" class="form-control"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Designation
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="designation" class="form-control"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-2">
                                Gender
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <select class="custom-select" formControlName="gender" id="inputGroupSelect01">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Phone
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="phone" class="form-control"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-2">
                                Address
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <textarea formControlName="address" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col center">
                                <button type="button" [disabled]="!addStaffForm.valid" style="width: 15rem;"
                                    class="btn btn-success" (click)="postStaffDetails()">Add New Staff</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>