<!-- <header>
    <h1 class="center">HOSPITALS MANAGEMENT SYSTEM</h1>
</header>

<section>
    <nav>
        <ul>
            <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        </ul>
    </nav>

    <article>
        <router-outlet></router-outlet>
    </article>
</section> -->

<div class="card" style="width: 13rem;">
    <img class="card-img-top" src="./assets/img/patient-intake.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Welcome to HMS</h5>
        <p class="card-text">Hospitals management or health care systems management describes the leadership and general management of hospitals, hospital networks.</p>
        <a [routerLink]="['/dashboard']" class="btn btn-primary">Dashboard</a>
    </div>
</div>