<header>
    <app-header></app-header>
</header>

<div class="grid-container">
    <h4 class="border-title">Hospital Admissions</h4>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/patient-management/patient-admission']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Patient Admission</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/patient-management/billing-system']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Billing System</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/patient-management/patient-discharge']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Patient Discharge</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/patient-management/patient-data']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Admission Database</h5>
            </div>
        </div>
    </div>
</div>
<div class="grid-container">
    <h4 class="border-title">Hospital OP & Expenses</h4>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/op-management/patient-in-form']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Patient OP Form</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/op-management/op-data']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">OP Database</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/expenses-management/hospital-expenses']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Hospital Expenses</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/expenses-management/expense-data']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Expenses Database</h5>
            </div>
        </div>
    </div>
</div>
<div class="grid-container">
    <h4 class="border-title">Doctors Management</h4>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/doctors-management/add-doctor-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Add New Doctor</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/doctors-management/edit-doctor-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Edit Doctor Details</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/doctors-management/change-doctor-status']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Change Doctor Status</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/doctors-management/doctor-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Doctors Database</h5>
            </div>
        </div>
    </div>
</div>
<div class="grid-container">
    <h4 class="border-title">Nurse Management</h4>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/nurse-management/add-nurse-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Add New Nurse</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/nurse-management/edit-nurse-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Edit Nurse Details</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/nurse-management/change-nurse-status']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Change Nurse Status</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/nurse-management/nurse-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Nurse Database</h5>
            </div>
        </div>
    </div>
</div>
<div class="grid-container">
    <h4 class="border-title">Staff Management</h4>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/staff-management/add-staff-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Add New Staff</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/staff-management/edit-staff-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Edit Staff Details</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/staff-management/change-staff-status']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Change Staff Status</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/staff-management/staff-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Staff Database</h5>
            </div>
        </div>
    </div>
</div>
<div class="grid-container">
    <h4 class="border-title">Blood Bank & New Born Child Management</h4>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/blood-bank-management/donor-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Blood Donor Form</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/blood-bank-management/blood-bank-data']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">Blood Bank Database</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/new-born-data-management/new-born-details']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">New Born Child Entry</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-on" style="width: 15rem;" [routerLink]="['/new-born-data-management/new-born-data']">
            <img src="./assets/img/patient-intake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title center">New Born Database</h5>
            </div>
        </div>
    </div>
</div>